<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Location of various resources.
    -->
    <bean id="int_testshib_productionFiles_dir" class="java.lang.String">
        <constructor-arg value="/var/metadata/providers/entities"/>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="int_testshib_productionFiles" parent="DOMResourceSourceStage"
        p:id="int_testshib_productionFiles">
        <property name="DOMResource">
            <bean parent="ClassPathResource">
                <constructor-arg name="directory"    ref="int_testshib_productionFiles_dir"/>
            </bean>
        </property>
    </bean>
   
    <!-- 
        ts_fetchFragmentFiles 
    -->
    <bean id="ts_fetchFragmentFiles" parent="stage_parent"
        class="net.shibboleth.metadata.dom.DOMFilesystemSourceStage"
        p:id="ts_fetchFragmentFiles">
        <property name="parserPool" ref="parserPool"/>
        <property name="source">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/entities"/>
            </bean>
        </property>
        <property name="sourceFileFilter">
            <bean class="uk.org.ukfederation.mda.RegexFileFilter">
                <constructor-arg value="uk\d{6}.xml"/>
            </bean>
        </property>
    </bean> 
    <!--
        Select primary export aggregate.
    -->
    <alias alias="int_testshib_exportedAggregate" name="int_testshib_productionAggregate"/>
    <alias alias="int_testshib_exportedEntities"  name="int_testshib_productionEntities"/>
</beans>
